<div class="well">
  <h4>Latest Updates</h4>

  <ul style="padding-left: 1.2em; margin-bottom: 1em;">
    <li><strong>May 2026:</strong> Cho Lab website launched</li>
    <li><strong>Jul 2026:</strong> Lab opening at Rice Bioengineering</li>
    <li><strong>Now recruiting:</strong> postdocs, graduate students, undergraduates</li>
  </ul>

  <hr>

  <h5 style="margin-top: 1em;">Follow on X</h5>
  <a class="twitter-timeline"
     data-height="400"
     data-theme="light"
     data-chrome="nofooter noborders transparent"
     href="https://twitter.com/Cholab_Rice">
     Tweets by Cholab_Rice
  </a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
